agendarDesdeEmail.json
{
  "name": "agendarDesdeEmail",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente extractor para notificaciones judiciales de Ecuador.\n\nFlujo de trabajo:\n1. Reconstruye el cuerpo completo del correo en texto plano (sin etiquetas HTML) conservando los saltos de linea.\n2. Identifica la fecha y hora de la audiencia y el lugar (sala/piso) solo cuando aparezcan despues de frases como:\n   - \"segun fecha de instalacion de audiencia\"\n   - \"se seniala la audiencia en la presente causa para\"\n   - o cualquier mension que incluya la palabra \"audiencia\".\n   No uses la \"Fecha de Notificacion\" como referencia para el evento.\n3. Normaliza fechas y horas aceptando variantes como \"08h30\", \"08H30\", \"15:45\", \"3 pm\", \"15h\", \"08 de OCTUBRE del 2025\", \"8/10/2025\", \"2025-10-08\" y meses con o sin tildes. Convierte el resultado a:\n   - start: \"YYYY-MM-DDTHH:mm:ss\"\n   - end: \"YYYY-MM-DDTHH:mm:ss\" (si no hay hora de fin, suma 1 hora al inicio)\n   - startRfc3339: \"YYYY-MM-DDTHH:mm:ss-05:00\"\n   - endRfc3339: \"YYYY-MM-DDTHH:mm:ss-05:00\"\n   Usa siempre la zona horaria America/Guayaquil.\n4. Extrae \"Juicio No\" y \"Nombre Litigante\" del asunto o del cuerpo (patrones \"Juicio No:\", \"Juicio N.\", \"Nombre Litigante:\", \"A:\"). Si faltan datos, rellena con el asunto original o \"Pendiente\".\n5. Construye los campos del evento:\n   - summary: \"Asunto - Juicio No - Nombre Litigante\" con los valores extraidos o los sustitutos indicados.\n   - description: cuerpo reconstruido en texto plano, sin resumir.\n   - location: \"Sala {sala}, Piso {piso}\" cuando ambos existan; si solo hay uno, usa el disponible; si no se puede desglosar, usa el texto completo del lugar mencionado junto a la audiencia.\n6. Comprueba si ya existe un evento en el horario calculado:\n   - Llama a la herramienta \"Get availability in a calendar in Google Calendar\" con Calendar = \"ponsianodeloor@gmail.com\", Start_Time = startRfc3339 y End_Time = endRfc3339.\n   - Si la respuesta contiene un intervalo busy que cubre la hora de inicio calculada, responde unicamente \"Ignorar\" y no crees un nuevo evento.\n7. Si el intervalo esta libre, crea el evento llamando a \"Create an event in Google Calendar\" con:\n   - Start = startRfc3339\n   - End = endRfc3339\n   - summary, description, location y timezone = \"America/Guayaquil\" segun los valores calculados.\n8. Como salida final, responde unicamente con el JSON:\n{\n  \"summary\": \"...\",\n  \"description\": \"...\",\n  \"location\": \"...\",\n  \"start\": \"YYYY-MM-DDTHH:mm:ss\",\n  \"end\": \"YYYY-MM-DDTHH:mm:ss\",\n  \"startRfc3339\": \"YYYY-MM-DDTHH:mm:ss-05:00\",\n  \"endRfc3339\": \"YYYY-MM-DDTHH:mm:ss-05:00\",\n  \"timezone\": \"America/Guayaquil\"\n}\n   Si no procede, responde solo: Ignorar.\n\nReglas y validaciones:\n- No inventes datos. Si falta informacion esencial (fecha y hora de audiencia, lugar o remitente esperado), responde Ignorar.\n- No anadas texto adicional fuera del JSON o la palabra Ignorar.\n\nENTRADA\nAsunto: {{ $json.subject }}\nHTML: {{ $json.textAsHtml }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        272
      ],
      "id": "2b79d550-4439-46e1-b3f4-99a7cac64cca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -448,
        496
      ],
      "id": "e846abe9-d944-45e1-bce0-a5eb5f61e926",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        16,
        656
      ],
      "id": "e81dfbaa-e76f-44f3-a88e-a1e12fa33d60",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -160,
        496
      ],
      "id": "5849295d-701b-400e-afc7-d38f4f95dbb8",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -304,
        496
      ],
      "id": "d29c09e6-a626-469d-9007-59bd20bee235",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88ee6722-4a08-4f05-a1fd-669921132146",
              "name": "textAsHtml",
              "value": "={{ $json.textAsHtml }}",
              "type": "string"
            },
            {
              "id": "26e4bf20-48cd-40d9-ae1a-d479038d3d0e",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        272
      ],
      "id": "6517d36f-370d-459a-99c2-2fa770fd7811",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "ponsianodeloor@outlook.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        304
      ],
      "id": "79f39f43-bfef-446e-ae2b-153f1e56f296",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VAnNcViFGyZ6R6qg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ponsianodeloor@gmail.com",
          "mode": "list",
          "cachedResultName": "ponsianodeloor@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        496
      ],
      "id": "ced4944d-bdce-4f2b-8ba2-7b97495b31aa",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CE6zGuaLPVM3V8tL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "ponsianodeloor@gmail.com",
          "mode": "list",
          "cachedResultName": "ponsianodeloor@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        160,
        544
      ],
      "id": "df6daf93-6a9c-4f22-9973-062240f99057",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CE6zGuaLPVM3V8tL",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46f04d88-b65d-448a-b432-6e19678b37b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f36c64b13bbb7748bd9d1fa29e9a2d15f3b8329608b51a4e86db824070316d3e"
  },
  "id": "IotQCtyo9f0sbT8C",
  "tags": []
}